@charset "utf-8";
/*重置样式*/
body,div,p,ul,ol,dl,dt,dd,li,form,input,table,th,td,img,h1,h2,h3,h4,h5,h6 { margin: 0;padding: 0;}

body { background: #FFF; color: #000; font-size: 12px; font-style: normal; font-family:'Microsoft Yahei','微软雅黑','Simsun','宋体','Arial', sans-serif;}
address,caption,dfn,th,var,cite,code,i,em,s,label,input,select,textarea{font-style:normal;font-weight:normal;font-family:inherit;}
input[type="submit"],input[type="reset"],input[type="button"]{cursor:pointer;}
select,input,textarea{font-family:inherit;margin:0;}
li { list-style:none;}
img { border:none; background:none;}
a { text-decoration:none; color:#5c76d5;}
a:hover { text-decoration:underline; color:#f50;}
table { border-spacing:0; border-collapse:collapse;}

/*通用*/
.hide {display: none;}
.flt {float:left;}
.frt {float:right;}
.pl10 {padding-left: 10px;}
.pl15 {padding-left: 15px;}
.pr15 {padding-right: 12px;}
.pl50 {padding-left: 50px;}
.pl120 {padding-left: 120px;}
.mt5 {margin-top: 5px;}
.mt15 { margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mt80 {margin-top: 80px;}
.ml20 {margin-left: 20px;}
.mb20 {margin-bottom: 20px;}
.mb15 {margin-bottom: 15px;}
.red {color: #f00;}
.green {color: #6c0;}
.blue {color: #09c;}
a.blue {color: #5c76d5;}
a.blue:hover {color: #f50;}
.fw {font-weight: bold; }
.whitebg {background: #fff;}
.bodybg{background: #faf5f1;}
.curmenu {background: #47eb94;}
.clear { clear: both;}
.clearfix { *zoom: 1;} 
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: "";}
.clearfix:after { clear: both;}
/* 代码开始 */

.wrap{
    width: 356px;
    height: 633px;
}
/* 这是头部 */

.header{
    width: 356px;
    height: 70px;
    background: #12b7f5;
}
.hd-left{
    float: left;
}
.hd-left img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 26px 0 0 12px;
}
.hd-center{
    width: 120px;
    height: 30px;
    background: #12b7f5;
    float: left;
    margin: 29px 0 0 69px;
    border-radius: 5px;
    border: 1px solid #fff;
}
.hd-center li{
    float: left;
    width: 59px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
}
.hd-center li:hover{
    background: #fff;
    color: #12b7f5;
}
.hd-center li:first-child{
    background: #fff;
    color: #12b7f5;
    border-right: 1px solid #fff;
}
.hd-right span{
    float: right;
    color: #fff;
    padding: 10px 5px 0 0;
    font-size: 45px;
    cursor: pointer;
    position: relative;
}
.hd-rightbox{
    width: 165px;
    height: 230px;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    display: none;
    top: 60px;
    right: 5px;
}
.hd-rightbox li {
    width: 165px;
    height: 45px;
    text-align: center;
    line-height: 45px;
}
.hd-rightbox li:hover{
    background: #f9f9f9;
}
/* 头部结束 */

/* 主体开始 */
.container{
    width: 365px;
    height: 513px;
    background: #fff;
}
.search input{
    width: 335px;
    height: 30px;
    border-radius: 3px;
    margin: 5px 0 0 10px;
    background: #f3f3f3;
}
.list{
    width: 365px;
    height: 70px;
    border-bottom: #f3f3f3 1px solid;
}
.list img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 15px 0 0 12px;
    float: left;
}
.list p{
    margin: 17px 0 0 3px;
    float: left;
    font-weight: bold;
}
/* 电话列表开始 */
.phone-list{
    display: none;
    width: 365px;
    height: 70px;
    border-bottom: #f3f3f3 1px solid;
}
.phone-list img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 15px 0 0 12px;
    float: left;
}
.phone-list p{
    margin: 17px 0 0 3px;
    float: left;
    font-weight: bold;
}
/* 主体结束 */
/* 底部开始 */
.footer {
    width: 365px;
    height: 50px;
    border-top: #f3f3f3 1px solid;
}
.icon{
    width: 33%;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
}
.icon:first-child{
    color:  #12b7f5;
}
.icon i{
    font-size: 25px;
}






